.container{
   
    display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   gap:10px;
   
    
}
.container button{
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: 22px;
    border-radius: 4px;
    color: white;
}
.container .minus{
    background-color: red;

}
.container .plus{
    background-color: blue;
    
}
.container :disabled{
    opacity: 0.5;
}
body{
    background-color: rgba(9, 223, 252, 0.555);
}